.root {

    -fx-base: #44475a;

    -fx-background: derive(-fx-base, 16.4%);

    -fx-control-inner-background: derive(-fx-base, 80%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, -2%);

    -fx-dark-text-color: #eaeaea;
    -fx-mid-text-color: #eaeaea;
    -fx-light-text-color: #eaeaea;

    -fx-accent: #6272a4;

    -fx-default-button: #6272a4;

    -fx-focus-color: #6272a4;
    -fx-faint-focus-color: #039ED322;

    -fx-color: -fx-base;
}

.text-area .content {
    -fx-padding: 0.25em 0.583em 0.25em 0.583em;
    -fx-cursor: text;
    -fx-background-color: #282a36;
    -fx-background-radius: 2;
}